.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.styled-table {
  border-collapse: collapse;
  border-radius:5px ;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table thead{
  border-radius: 10px;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
  color: #009879;
}
.clickable:hover {
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
input[type=text], select {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 300px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.inputs{
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 400px;
  margin: 10px 25px;
}

.inputs button {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  list-style: none;
  letter-spacing: 0.015em;
  text-decoration: none;
  display: flex;
  width: 177px;
  height: 40px;
  border: 0;
  border-radius:5px ;
  line-height: 30px;
  text-shadow: 0 0 1px #bbb;
  background: linear-gradient(45deg, #ff5c44 20%, #ff8b1a 50%);
  background-image: linear-gradient(to left, #fc6076, #ff8b1a, #ff5c44);
  box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.15);
  justify-content: center;
  text-indent: 0;
  color: white !important;
  font-weight: 400;
  font-size: 16px;
  padding: 4.5px 30px;
  position: relative;
  transition: all 0.2s ease-in-out;
  background-size: 200% 100%;
}

.inputs button:hover {
  background-position: 100% 0;
  cursor: pointer;
  text-decoration: none;
  -webkit-box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
}
.inputs button:disabled{
  background-image:  linear-gradient(to left, #bbbbbb, black, grey) !important;
}
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 20px;
}
.pagination span {
  cursor: pointer;
  color: black;
  padding: 5px 10px;
  margin: 0 5px;
  display: block;
  text-decoration: none;
  border: thin solid #ccc;
}
.pagination .active{
  background-color: #009879;
  color:  #f3f3f3;
}
.pagination span:hover{
  -webkit-box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
}

