* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body
{
  height: 100%;
}
@font-face {
  font-family: "Lotr";
  src: local("RINGM___"),
  url("./fonts/RINGM___.TTF") format("truetype");
  font-weight: normal;
}
body {
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  height: 100%;
  text-align: left;

}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column span{
  font-size: 0.9em;
  padding-left: 5px;
}
.styled-table {
  display: table;
  border-collapse: collapse;
  border-radius:5px ;
  margin: 10px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  transition: 0.2s ease-in;
}
.styled-title {
  font-family: Lotr, sans-serif;
  padding : 20px;
  letter-spacing: 0.1em;
  text-align: center;
  width: 100%;
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table thead{
  border-radius: 10px;
}
.styled-table a{
  text-decoration: none;
  color:black ;
  transition: 0.2s ease-out;
}
.styled-table a:hover{
  text-decoration: none;
  color:#009879 ;
  transition: 0.2s ease-in;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
  text-align: center;
}
.styled-table-empty{
  width: 800px;
  text-align: center;
}
.styled-table tbody tr {
  border-bottom: thin solid #dddddd;
  transition: 0.2s ease-out;
  background-color: white;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
  color: #009879;
  transition: 0.2s ease-in;
  cursor: default;
}
.clickable:hover {
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.clickable{
  padding: 0 !important;
}
.clickable a{
  padding: 12px 15px;
  width: 100%;
  height: 100%;
}
.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 100px 0 100px
}
.flex-row button {
}
label{
  display: block;
}
input[type=text] {
  padding: 12px 20px;
  width: 100%;
  outline: none;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.2s ease-out;
}
input[type=text]:focus{
  -webkit-box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease-in;
  outline: none;
}
input[type=search],select{
  padding: 12px 20px;
  height: 43px;
  width: 100%;
  margin: 4px 0 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all .2s ease-out
}
input[type=search]:focus{
  -webkit-box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease-in;
  outline: none;
}
select:focus{
  -webkit-box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease-in;
  outline: none;
}
input[type=submit] {
  width: 300px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  margin: 10px 25px;
}

.container button {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  list-style: none;
  letter-spacing: 0.015em;
  text-decoration: none;
  display: flex;
  width: 100% !important;
  border: 0;
  border-radius:5px ;
  line-height: 34px;
  text-shadow: 0 0 1px #bbb;
  background-image: linear-gradient(to left, #45a049, #009879, #009879);
  box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.15);
  justify-content: center;
  text-indent: 0;
  color: white !important;
  font-weight: 400;
  font-size: 14px;
  padding: 4.5px 30px;
  position: relative;
  transition: all 0.2s ease-in-out;
  background-size: 200% 100%;
  outline: none;
  height: 43px;
  margin-top: 24px;
}
.green-button{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  list-style: none;
  letter-spacing: 0.015em;
  text-decoration: none;
  display: flex;
  width: 100% !important;
  border: 0;
  border-radius:5px ;
  line-height: 34px;
  text-shadow: 0 0 1px #bbb;
  background-image: linear-gradient(to left, #45a049, #009879, #009879);
  box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.15);
  justify-content: center;
  text-indent: 0;
  color: white !important;
  font-weight: 400;
  font-size: 14px;
  padding: 4.5px 30px;
  position: relative;
  transition: all 0.2s ease-in-out;
  background-size: 200% 100%;
  outline: none;
  height: 43px;
  max-width: 150px;
  margin-top: 24px;
}
.green-button:hover{
  background-position: 100% 0;
  cursor: pointer;
  text-decoration: none;
  -webkit-box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
}
.green-button a {
  color: white;
}
.container a {
  text-decoration: none;
}
.container button:hover {
  background-position: 100% 0;
  cursor: pointer;
  text-decoration: none;
  -webkit-box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
}
.container button:disabled{
  background-image:  linear-gradient(to left, #bbbbbb, grey, grey) !important;
  box-shadow: none;
}
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 600px;
  margin:20px;
  color: white;
  min-height: 808px;
  border: thin solid #009879 ;
  border-radius:5px ;
  background-color: #009879;
}
.input-spacing{
  margin-bottom: 10px;
}
.form-container button input[type=submit]{
  background-image: linear-gradient(to left, #fc6076, #ff8b1a, #ff5c44) !important;
  margin: 0 !important;
}
.form-container input span{
  margin:20px;
  width: 80%;
}
.form-width{
  width: 80%;
}
textarea{
  width: 100%;
  height: 100%;
}
textarea:focus{
  -webkit-box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease-in;
  outline: none;
}
.form-width textarea {
  width: 100%;
  height: 100%;
  padding:10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.2s ease-out;
  min-height: 200px;
}
.row-buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-decoration: none;
}
.row-buttons a {
  text-decoration: none !important;
  color: white;
  width: 100%;
  height: 100%;
}
.row-buttons button:first-child{
  margin-right: 10px;
  width: 70%;
  margin-top:0 ;
  padding: 4.5px 0;
}
.row-buttons button:last-child{
  background-image: linear-gradient(to left, red, red, #ff5c44) !important;
  width: 30%;
  padding: 4.5px 0;
  margin: 0;
  color: white;

}
.row-buttons button:last-child:hover {
  -webkit-box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
}
.container-centered{
  height: 100vh;
  display: flex;
  place-content: center;
  flex-direction: column;
}
.container-centered button:disabled{
  background-image:  linear-gradient(to left, #bbbbbb, grey, grey) !important;
  box-shadow: none;
}
.container-centered button:hover{
  background-position: 100% 0;
  cursor: pointer;
  text-decoration: none;
  -webkit-box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
}
.container-centered button {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  list-style: none;
  letter-spacing: 0.015em;
  text-decoration: none;
  display: flex;
  width: 100%;
  border: 0;
  border-radius:5px ;
  line-height: 34px;
  text-shadow: 0 0 1px #bbb;
  background-image: linear-gradient(to left, #fc6076, #ff8b1a, #ff5c44) !important;
  box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.15);
  justify-content: center;
  text-indent: 0;
  color: white !important;
  font-weight: 400;
  font-size: 14px;
  padding: 4.5px 30px;
  position: relative;
  transition: all 0.2s ease-in-out;
  background-size: 200% 100%;
  outline: none;
  height: 43px;
  margin-top: 24px;
}
.filters-table{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
  grid-gap: 10px;
}
.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 20px 20px;
}
.pagination span{
  cursor: pointer;
  color: black;
  padding: 5px 10px;
  margin: 0 5px;
  display: block;
  text-decoration: none;
  border: thin solid #ccc;
  transition: 0.2s ease-in;
  background-color: white;
}
.pagination span {
  text-decoration: none;
}
.pagination .active{
  background-color: #009879;
}
.active{
  color: #f3f3f3 !important;
}
.pagination span:hover{
  transition: 0.2s ease-out;
  -webkit-box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
}
.grid-oontainer{
  display: grid;
  grid-template-columns: 1fr 3fr ;
  grid-gap: 30px;
  grid-template-rows: auto;
  grid-template-areas: "sidebar main" "sidebar main";
  margin:0 100px 0 100px;
}
.item-1{
  grid-area: sidebar;
  width: 100%;
  justify-self: end;

}
.item-2 .item-3{
  grid-area: main;
  justify-self: center !important;
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 400px;
}
.card-header{
  display: flex;
  border: thin solid #ccc;
  border-top-left-radius:20px ;
  border-top-right-radius:20px ;
  background-color:  #009879;
  justify-content: space-between;
  align-items: center;
}
.card-header h2{
  padding :25px 20px;
  color: white;
}

.card-content{
  border: thin solid #ccc;
  border-top: none;
  border-bottom-left-radius:10px ;
  border-bottom-right-radius:10px ;
  height: 100%;
}
.icon-button{
  margin-right: 20px;
  display:block;
  width:40px;
  height:40px;
  border: 2px solid #f5f5f5!important;
  border-radius: 50%;
  color:#f5f5f5!important;
  text-align:center;
  text-decoration:none;
  background: #555777;
  box-shadow: 0 0 3px gray;
  font-size:20px;
  font-weight:bold;
  outline: none;
  transition: 0.2s ease-out;
}
.library-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.library-list a {
  text-decoration: none;
}
.icon-button:hover {
  background: #009879;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease-in;
}
.textarea{
  width: 100%;
  height: 100%;
}
.textarea textarea {
  width: 100%;
  height: 100%;
  padding:10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.2s ease-out;
  min-height: 200px;
}
.textarea textarea:focus{
  -webkit-box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease-in;
  outline: none;
}
.card-inner{
  padding:20px;
  height: 100%;
}
.card-details p{
  padding:30px 20px;
  border-bottom: thin solid #ccc;;
}
.card-details p:first-child{
  padding:25px 20px;
  border-bottom: thin solid #ccc;;
}
.card-details p:last-child{
  border-bottom: none;
}
form{
  height: 100%;
}
.box{
  margin: 20px 0 20px 0;
  color: white;
  border-radius: 10px;
  background: #009879;
  cursor: pointer;
  outline: none;
  width: 500px;
  transition: 0.2s ease-out;
}
.box:hover{
  cursor: pointer;
  -webkit-box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease-in;
}
.list-item {
  display: flex;
  flex-direction: column;
  border-top:thin solid #ccc;
  padding: 10px;
  color: black;
  transition: 0.2s ease-out;
}
.list-item a{
  display: inline;
}
.list-item :first-child{
  border-top:none;
}
.list-item:hover{
  background-color: whitesmoke ;
  -webkit-box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.10);
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.10);
  transition: 0.2s ease-in;
}
.margin-0{
  margin: 0!important;
}
.pb-10{
  padding-bottom: 10px;
}
.library-books-add{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}
